// Navigation code here


h1 {
    font-size: 3rem;
}

.navigation-area {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #f4f4f4;

}

.navigation-links {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
    margin-bottom: 2%;
    font-size: 1.9rem;
    text-decoration: none;
    color: black;

}

a {
    text-decoration: none;
    color: @river-bend;
    padding: 1%;
}

a:hover {
    color: green;
}

.text-logo-div {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%, 0;
}

.links {
    font-size: 1.8rem;
    text-decoration: none;
    width: 50%;
}

.jumbotron {
    display: flex;
    justify-content: center;
}